.MultiplayIcon{
    margin-left: 16px;
    width: 40px;
    height: 40px;
}

.appui-icon--presentation--regular {
    --unity-image: url("project://database/Assets/UI/Textures/Presentation.png");
}

.AvatarDivider {
    margin-left: 16px;
    width: 2px;
    height: 24px;
    background-color: #BCBCBC;
}